@use '../../style/utils' as *;

#root{
    
    .top-card {
        position: relative;
        margin: 1em 0;

        img {
            height: 5em;
            width: 100%;
            object-fit: cover;
            border-radius: 0.6em;
            filter: brightness(70%);

            @include device-size(small) {
                height: 10em;
            }
        }

        h1 {
            position: absolute;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1em;
            width: 100%;
            padding: 0 1em;

            @include device-size(small) {
                font-size: 1.4em;
                width: inherit;
            }

            @include device-size(large) {
                font-size: 1.6em;
            }
        }
    }

    .housing {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        @include device-size(small) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            background-color: $secondary;
            padding: 2em;
            border-radius: 1em;
            gap: 3em;
        }

        &_card {
            max-width: 21em;
            height: 16em;
            position: relative;

            @include device-size(small) {
                max-width: 21.25em;
                height: 21.25em;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(70%);
                border-radius: 0.5em;
            }

            h2 {
                color: white;
                font-weight: 500;
                font-size: 1.1em;
                position: absolute;
                bottom: 0;
                padding: 1em;
            }

            &:hover {
                h2 {
                    text-decoration: underline;
                }
            }
        }
    }
}