@use '../../style/utils' as *;

.hero {
    position: relative;
    margin: 1em 0;

    img {
        height: 5em;
        width: 100%;
        object-fit: cover;
        border-radius: 0.6em;
        filter: brightness(70%);

        @include device-size(small) {
            height: 10em;
        }
    }

    h1 {
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1em;
        width: 100%;
        padding: 0 1em;

        @include device-size(small) {
            font-size: 1.4em;
            width: inherit;
        }

        @include device-size(large) {
            font-size: 1.6em;
        }
    }
}

.housing {
    display: grid;
    grid-gap: 2em;
    width: 100%;

    @include device-size(small) {
        grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
        background-color: $secondary;
        padding: 2em;
        border-radius: 1em;
    }

    &_card {
        height: 16em;
        width: 100% !important;
        position: relative;
        transition: all 0.2s;

        @include device-size(small) {
            height: 25em;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(70%);
            border-radius: 0.5em;
        }

        h2 {
            color: white;
            font-weight: 500;
            font-size: 1.1em;
            position: absolute;
            bottom: 0;
            padding: 1em;
        }

        &:hover {
            transform: scale(1.01);
            h2 {
                text-decoration: underline;
            }
        }
    }
}
