@use '../../style/utils' as *;

header {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .logo {
            svg {
                width: 8em;
                fill: $primary;
            }
        }

        ul {
            position: absolute;
            right: 0;
            top: 4em;
            text-align: end;
            z-index: 1;
            background-color: $primary;
            padding: 1em 2em;
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;
            gap: 0.8em;

            @include device-size(small) {
                position: static;
                display: flex;
                flex-direction: row;
                gap: 1em;
                align-items: center;
                padding: inherit;
                background-color: inherit;
            }

            li {
                a {
                    color: white;

                    &:hover {
                        color: black !important;
                    }

                    @include device-size(small) {
                        color: $primary !important;
                    }
                }
            }
        }

        button {
            svg {
                width: 2em;
                height: 2em;
                fill: $primary;

                &:hover {
                    fill: $hover;
                }
            }
        }
    }
}
