@use '../../style/utils' as *;

header {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            svg {
                width: 6em;
                fill: $primary;

                @include device-size(small) {
                    width: 8em;
                }
            }
        }

        ul {
            position: static;
            display: flex;
            flex-direction: row;
            gap: 1em;
            align-items: center;

            li {
                a {
                    color: $primary !important;

                    &:hover {
                        color: black !important;
                    }
                }
            }
        }
    }
}
